@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "FairyMuffinRoundPop";
    src: url("/fonts/FairyMuffinRoundPop-1GG5e.ttf") format("truetype");
    font-display: swap;
  }
}



h1 {
  text-shadow: 0px 0px 0.05rem oklch(70% 0.3 0); /* ii-lightblue */
  background: linear-gradient(
    185deg in oklch longer hue,
    oklch(65% 0.295 99),
    oklch(65% 0.295 100)
  );
  background-clip: text;
}

h2 {
  text-shadow: 0px 0px 0.05rem oklch(70% 0.3 0); /* ii-lightblue */
  background: linear-gradient(
    5deg in oklch longer hue,
    oklch(65% 0.295 99),
    oklch(65% 0.295 100)
  );
  background-clip: text;
}

h3 {
  text-shadow: 0px 0px 0.05rem oklch(65% 0.2 22); /* ii-lightred */
  background: linear-gradient(
    15deg in oklch longer hue,
    oklch(65% 0.295 99),
    oklch(65% 0.295 100)
  );
  background-clip: text;
}

p {
  text-shadow: 0px 0px 0.05rem oklch(65% 0.295 246); /* ii-blue */
  background: linear-gradient(
    165deg in oklch longer hue,
    oklch(65% 0.295 10),
    oklch(65% 0.295 100)
  );
  background-clip: text;
}

a {
  text-shadow: 0px 0px 0.05rem oklch(65% 0.295 330); /* ii-magenta */
  background: linear-gradient(
    0deg in oklch longer hue,
    oklch(65% 0.295 99),
    oklch(65% 0.295 300)
  );
  background-clip: text;
}

h4 {
  text-shadow: 0px 0px 0.05rem oklch(65% 0.3 145); /* ii-lightgreen */
  background: linear-gradient(
    345deg in oklch longer hue,
    oklch(65% 0.295 99),
    oklch(65% 0.295 120)
  );
  background-clip: text;
}
